.chatcontrol{
  float: left;
  width: 100%;

  .chatinput{
    width: 80%;
    float: left;
    border-radius: 20px;
  }

  .sendbtn{
    width: 20%;
    float: left;
    border-radius: 20px;
    text-transform: uppercase;
  }
}
