<div id="primary" class="c">
  <div id="content" class="clearfix">
    
      
<article id="post-217" class="post-217 page type-page status-publish hentry">
  <div class="entry-content clearfix">
    <div class="a">
      <h4>Following content is taken from <a href="https://www.sportabroad.co.uk/interesting-cricket-facts/">Sport Abroad</a> website. Our Cricboy is trained to answer questions from these data</h4>
    </div>
    <p>Cricket is a sport with a long and fascinating history, so it comes as no surprise that there are plenty of interesting facts about the game. Here are some things you never knew about this popular pastime.</p>
    <div class="a">
      <h3>Historical Facts About Cricket</h3>
    </div>
    <div class="b">
      <p>·         It is thought that cricket may have its origins with shepherds in England who devised the game as a way of passing the time while guarding their sheep.</p>
      <p>·         There have been many cricketers who were believed to be the greatest bowler in history, however the English magazine “The Wisden Cricketer” awards the title to Murali Muralitharan from Sri Lanka.</p>
      <p>·         History&#8217;s longest cricket match was played in 1939 between South Africa and England. The single match lasted for an epic 14 days and even after two weeks the game still wasn&#8217;t over with England needing 42 more runs if they were to win. However as their ship back home was due to leave the next day eventually the match was declared to be a draw.</p>
      <p>·       The first game of cricket ever recorded took place in 1646. The game proved to be so popular that eventually fines had to be given to those who missed church in order to play.</p>
    </div>
    <div class="a">
      <h3 class="a">Interesting Information About Cricket Equipment</h3>
    </div>
    <div class="b">
      <p>·         A cricket bat usually weighs between 2 and 3 pounds and is made traditionally from willow wood which is prized for its lightness and toughness.</p>
      <p>·         Cricket bats are made up of three parts: the grip, the handle and the blade, which is the part used to strike the ball.</p>
      <p>·         New cricket bats should be rubbed with linseed oil which makes the bat shrink, resulting in a tougher hitting surface.</p>
      <p>·         Cricket balls have a centre of layered cork which has been wrapped in string and covered with a leather outer layer.</p>
      <p>·         A cricket ball weighs around 5 ½ ounces.</p>
    </div>
    <div class="a">
      <h3>Facts About Cricket Around the World</h3>
    </div>
    <div class="b">
      <p>·         Although America&#8217;s most popular bat and ball game is now baseball, originally the first game ever to be played in the United States using a bat and ball was cricket. It was a popular sport in the country between 1834 and 1914 and there were over 1000 cricket clubs across 46 states.</p>
      <p>·         One of the greatest batsmen in New Zealand, Bert Sutcliffe must have been exceptionally unlucky. Although he played 42 tests in the period between 1949 and 1965, he never once won a match. The New Zealand team did have a few wins during this time, but whenever they achieved a success, he had missed the game!</p>
      <p>·         John Traicos has a particular distinction in world cricket. He is the only player to have been born in one country but to have played in Test cricket matches for two others. He was born in Egypt but played Test cricket for Zimbabwe and South Africa.</p>
    </div>
    <div class="a">
      <h3>Facts About Legends of Cricket</h3>
    </div>
    <div class="b">
      <p>·         Legend of cricket Alec Stewart&#8217;s birthday is the 8th April 1963 i.e. 8/4/63, and the number of test runs that he scored in his career was 8463.</p>
      <p>·         Kenyan cricket player Asif Karim is not only a world class cricketer but he also played tennis for his country in the Davis Cup.</p>
      <p>·         Peter Siddle is the only bowler in international cricket to have taken a hat trick on the same day as his birthday (25th November 2010).</p>
      <p>·         The only cricketer to ever have been hanged for murder is Leslie Hylton of the West Indies.</p>
      <p>·       The oldest cricketer to have ever played for England was Wilfred Rhodes. His last match was on 12th April 1930 when he was 52 years old.</p>
    </div>
  </div>
<footer class="entry-meta-bar clearfix">
  <div class="entry-meta clearfix">
        </div>
</footer>
</article>
      
    
  </div><!-- #content -->
</div>